.listColEdit{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.buttonCreate{
    background-color: #007298;
    color: white;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 8px;   
    position: fixed;
    bottom: 90px; 
}.buttonCreate:hover{
        background-color: white;
        color: #007298;
        border: 2px solid #007298;
        font-weight: bold;
        }

.bgItems{
    background-color: rgba(36, 35, 41, 1);
    overflow: auto;
    height: 450px;
    width: min-content;
    border: none;
}

.buttonList{
    background-color: rgba(123, 123, 123, 1);
    color: white;
    width: 250px;
    height: 50px;
}
.buttonList:focus{
    background: rgba(238, 238, 238, 1);
    color: black;
}

/* .listColEdit{
    height: 580px;
} */


