.buttonCreate{
    background-color: #007298;
    color: white;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 8px;    
}.buttonCreate:hover{
        background-color: white;
        color: #007298;
        border: 2px solid #007298;
        font-weight: bold;
        }

.bgItems{
    background-color: rgba(36, 35, 41, 1);
}

.buttonList{
    border: none;
    background-color: #c9c9c9;
    width: 300px;
    height: 50px;
}



