.modalBackground {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.377);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-container{
    width: 50%;
    height: 100%;
    border-radius: 1rem;
    background-color: rgb(151, 18, 18);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  .modal-content {
    width: 100%;
    display: flex;
    justify-content: center;
  }